* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 200px auto;
    width: 40%;
    border: 3px solid blue;
    padding: 10px;
    text-align: center;
}

#title {
    padding: 15px;
}

#para {
    padding: 15px;
}

.decimal {
    padding: 15px;
}
.binary {
    padding: 15px;
}

